Flask==0.12.2
Flask-Restless==0.17.0
Flask-SQLAlchemy==2.2
Jinja2==2.9.6
MarkupSafe==1.0
SQLAlchemy==1.1.10
Werkzeug==0.12.2
argparse==1.2.1
certifi==2022.12.7
chardet==3.0.3
click==6.7
gunicorn==19.7.1
idna==2.5
itsdangerous==0.24
marshmallow==2.13.5
marshmallow-sqlalchemy==0.13.1
mimerender==0.6.0
python-dateutil==2.6.0
python-mimeparse==1.6.0
requests==2.16.5
six==1.10.0
urllib3==1.21.1
xlrd==1.0.0
